@back-color: #f3f3f3;
@font: "Nunito", sans-serif;
@back-white: #ffffff;
@primary-color: #287df9;
@border-color: #a6b5cc;
@border-light: #ebeef6;
@regular: 16px;

body {
  background-color: @back-color;
  font-family: @font;
  margin: 0;
  padding: 0;
}

.select-temp{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.5 6L12 1' stroke='%23A6B5CC' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
/***************Nav bar***************/
nav {
  position: fixed;
  background: @back-white;
  display: flex;
  top: 0;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  list-style: none;
  padding: 7px 30px;
  border-bottom: 1px solid @border-light;
}
#logo {
  width: 100px;
  margin-right: 60px;
}
nav div {
  display: flex;
  align-items: center;
}
/***************Search bar***************/
.search-bar {
  display: flex;
  border: 1px solid @border-color;
  height: 40px;
  overflow: hidden;
  align-items: center;
  padding: 0 5px;
  border-radius: 4px;
}

.search-bar select {
  border: none;
  font-size: @regular;
  height: 40px;
  background: #fff;
  width: 120px;
  outline: none;
  padding: 9px 10px;
 
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  .select-temp();
}

.search-bar .search-input {
  border: none;
  height: 40px;
  font-size: @regular;
  padding: 10px 10px;
  outline: none;
  width: 300px;
}

.search-bar .search-btn {
  color: #fff;
  background: @primary-color;
  border: none;
  border-radius: 4px;
  height: 34px;
  width: 40px;
  cursor: pointer;
}

.search-bar .divider {
  width: 1px;
  background-color: @border-color;
  height: 100%;
}
/***************Other Nav items***************/
nav .nav-items li {
  padding: 10px 20px;
}

.nav-items .dropdown a {
  text-decoration: none;
  color: #000000;
}
.nav-items .dropdown-menu {
  position: absolute;
  //top : 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin-top: 19px;
  font-size: @regular;
  text-align: left;
  list-style: none;
  background-color: @back-white;
  background-clip: padding-box;
  border: 1px solid @border-color;
  border-radius: 4px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
/***************Language***************/
.lang-bar select {
  border: 1px solid @border-color;
  border-radius: 4px;
  font-size: 16px;
  height: 40px;
  background: #fff;
  width: 75px;
  padding: 9px 10px;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  .select-temp();
}
/***************Toggle***************/
.toggale-btn {
  display: none;
  font-size: 29px;
  //flex: 1;
  //padding: 0 40px;
}
.toggale-btn span {
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  //border: 1px solid #151515;
  //border-radius: 5px;
  cursor: pointer;
}
.toggale-btn span.show:before {
  content: "\f00d";
}

/***************Home banner***************/

.homebanner {
  margin-top: 50px;
  background-image: url(assets/background.png);
  height: 180px;
  background-size: cover;
  display: flex;
  padding-top: 50px;
}
.homebanner .title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
/*************** Container ******************/
.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/***************Banner Search bar***************/
.banner-search-bar {
  display: flex;
  height: 55px;
  overflow: hidden;
  align-items: center;
  padding: 0 5px;
  border-radius: 4px;
  width: 96%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin:0 auto;
}

.banner-search-bar select {
  border: none;
  font-size: @regular;
  height: 55px;
  background: #fff;
  width: 120px;
  outline: none;
  padding: 9px 10px;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  .select-temp();
}

.banner-search-bar .banner-search-input {
  border: none;
  height: 55px;
  padding-left: 10px;
  font-size: @regular;
  //padding: 10px 10px;
  outline: none;
  width: 100%;
}

.banner-search-bar .banner-search-btn {
  color: #fff;
  background: @primary-color;
  border: none;
  border-radius: 4px;
  height: 39px;
  margin-right: 5px;
  width: 95px;
  cursor: pointer;
  font-size: 18px;
}

.banner-search-bar .banner-divider {
  max-width: 2px;
  min-width: 1px;
  background-color: @border-light;
  height: 100%;
}

/***************Blockchain div********************/
.container-pos{
    width: 80%;
    margin: 0 auto;
    //height: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid @border-color;
}
.container-pos a{
    text-decoration: none;
    text-align: center;
    width: 89px;
    display: inline-block;
    color:#000000;
    
}
.container-pos .active{
  color:@primary-color;
  border-bottom: 1px solid @primary-color;
}


.data-container{
    display: grid;
    grid-gap: 0px;
    width:80%;
    margin: 0 auto;
    //background-color: black;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'upper-grid upper-grid'
    'down-grid down-grid'
    'left-grid right-grid'
;
}
.upper-grid{
    display: grid;
    grid-area: upper-grid;
    width: 100%;
    height: 244px;
    border: 1px solid @border-color;
    border-radius: 4px;
    background-color: @back-white;
    grid-template-columns: 24.5% 0.5% 24.5% 1% 24.5% 0.5% 24.5%;
    grid-template-areas: 'upper-grid-class1 upper-grid-class1 upper-grid-class1 divider1 upper-grid-class2 upper-grid-class2 upper-grid-class2'
    'horizontal-divider horizontal-divider horizontal-divider horizontal-divider horizontal-divider horizontal-divider horizontal-divider'
    'upper-grid-class3 divider3 upper-grid-class4 divider2 upper-grid-class5 divider4 upper-grid-class6'
    ;
}
.down-grid{
    display: grid;
    grid-area: down-grid;
    width: 100%;
    height: 244px;
    border: 1px solid @border-color;
    border-radius: 4px;
    margin-top: 4%;
    background-color: @back-white;
    grid-template-columns: 24.5% 24.5% 2% 24.5% 24.5%;
    grid-template-areas: 'down-grid-class1 down-grid-class1 down-divider1  down-grid-class2 down-grid-class2'
    'down-horizontal-divider down-horizontal-divider down-horizontal-divider down-horizontal-divider down-horizontal-divider'
    'down-grid-class3 down-divider2 down-grid-class4 down-divider3 down-grid-class5'
    ;
}
.left-grid{
    grid-area: left-grid;
    width: 96%;
    height: 430px;
    border: 1px solid @border-color;
    border-radius: 4px;
    margin-top: 8%;
    background-color: @back-white;
}
.right-grid{
    grid-area: right-grid;
    width: 96%;
    height: 430px;
    border: 1px solid @border-color;
    border-radius: 4px;
    margin-top: 8%;
    margin-left: 4%;
    background-color: @back-white;
}
.upper-grid-class1{
    grid-area: upper-grid-class1;
    text-align: center;
}
.upper-grid-class2{
    grid-area: upper-grid-class2;
    text-align: center;
}
.upper-grid-class3{
    grid-area: upper-grid-class3;
    text-align: center;
}
.upper-grid-class4{
    grid-area: upper-grid-class4;
    text-align: center;
}
.upper-grid-class5{
    grid-area: upper-grid-class5;
    text-align: center;
}
.upper-grid-class6{
    grid-area: upper-grid-class6;
    text-align: center;
}
.upper-grid .banner-divider1 {
    grid-area: divider1;
    max-width: 2px;
    min-width: 1px;
    background-color: #ebeef6;
    height: 67%;
    margin-top: 78%;
  }
  .upper-grid .banner-divider2 {
    grid-area: divider2;
    max-width: 2px;
    min-width: 1px;
    background-color: #ebeef6;
    height: 67%;
    margin-top: 78%;
  }
  .upper-grid .banner-divider3 {
    grid-area: divider3;
    max-width: 2px;
    min-width: 1px;
    background-color: #ebeef6;
    height: 67%;
    margin-top: 78%;
  }
  .upper-grid .banner-divider4 {
    grid-area: divider4;
    max-width: 2px;
    min-width: 1px;
    background-color: #ebeef6;
    height: 67%;
    margin-top: 78%;
  }
  .upper-grid .banner-horizontal-divider {
    grid-area: horizontal-divider;
    max-width: 94%;
    background-color: #ebeef6;
    height: 2px;
    margin-left: 3%;
  }
.down-grid-class1{
    grid-area: down-grid-class1;
    text-align: center;
}
.down-grid-class2{
    grid-area: down-grid-class2;
    text-align: center;
}
.down-grid-class3{
    grid-area: down-grid-class3;
    text-align: center;
}
.down-grid-class4{
    grid-area: down-grid-class4;
    text-align: center;
    width: 100px;
    margin-left: -51px;
}
.down-grid-class5{
    grid-area: down-grid-class5;
    text-align: center;
}

.down-grid .banner-divider1 {
    grid-area: down-divider1;
    max-width: 2px;
    min-width: 1px;
    background-color: #ebeef6;
    height: 67%;
    margin-top: 78%;
  }
  .down-grid .banner-divider2 {
    grid-area: down-divider2;
    max-width: 2px;
    min-width: 1px;
    background-color: #ebeef6;
    height: 80%;
    margin-top: 1%;
    margin-left: 10%;
  }
  .down-grid .banner-divider3 {
    grid-area: down-divider3;
    max-width: 2px;
    min-width: 1px;
    background-color: #ebeef6;
    height: 80%;
    margin-top: 1%;
    margin-left: 65%;
  }
  
  .down-grid .banner-horizontal-divider {
    grid-area: down-horizontal-divider;
    max-width: 94%;
    background-color: #ebeef6;
    height: 2px;
    margin-left: 3%;
  }

  /*************Table******************/
  td{
      padding: 8px 14px 0px 14px;
  }
  .left-grid table tr td[colspan="2"]{
	width: 37%;
  }
  .right-grid table tr td[colspan="2"]{
	width: 34%;
  }
.right-grid-table td span,.left-grid-table td span{
    font-size: 13px;
}
.right-grid div,.left-grid div{
    padding: 14px 0px 11px 27px;
    font-weight: bold;
    border-bottom: 1px solid @border-color;
    font-size: 16px;
}
.blue{
    color:@primary-color;
}

/********************Footer**********************/
footer{
    display: grid;
    width: 100%;
    background-color: @back-white;
    height: 278px;
    margin-top: 4%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'footer-meter  footer-social'
    ;
}

footer .footer-meter{
    grid-area: footer-meter;
    //width: 50%;
    height: 100%;
    margin-left: 15%;
}

footer .footer-meter li{
    padding: 10px 10px 10px 10px;
}
.fa, .fas{
    padding-right: 8px;
}


footer .footer-social{
    grid-area: footer-social;
    //width: 50%;
    height: 100%;
}

footer .desktop-btn{
    background-color:@primary-color;
    color: white;
    width: 184px;
    height: 52px;
    font-size: 16px;
    //font-weight: 600;
    border: 1px solid @border-color;
    border-radius: 4px;
}
footer ul{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    font-size: 16px;
}
footer .footer-meter{
  margin-left: 101px;
}
footer .social-icons{
    display: flex;
    margin-top: 50px;
}
.social-icons li{
    padding: 10px 40px 10px 10px;
    font-size: 23px;
}
.footer-menu{
    float: left;
    width: 60%;
}
.footer-menu li{
    padding-bottom: 20px;
}
.footer-menu1 li{
    padding-bottom: 20px;
}
/***************Media query for Tab***************/

@media screen and (max-width: 1264px) and (min-width:700px) {
  /***************Toggle***************/

  .toggale-btn {
    display: flex;
    justify-content: end;
  }

  /***************Nav bar***************/
  nav {
    z-index: 1;
    //padding: 9px 40px 9px 0;
  }
  nav > li {
    width: 123px;
  }

  /***************Search bar***************/

  .search-bar .search-input {
    width: 242px;
  }

  /***************Other nav items***************/
  .nav-items {
    z-index: -1;
    position: fixed;
    //top:57px;
    display: none;
    right: 0;
    width: 100%;
    background: @back-white;
    //transition: top .4s;
  }
  .nav-items li {
    text-align: center;
    line-height: 40px;
    // margin: 30px 0;
  }
  .nav-items.show {
    top: 60px;
    display: inline-block;
  }
  .nav-items .dropdown-menu{
    margin-top: -18px;
    margin-left: 419px;
  }

  /***************Lunguage***************/

  .lang-li {
    margin-left: 26px;
  }

  /***************Blockchain div********************/
  .data-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'upper-grid'
    'down-grid'
    'left-grid'
    'right-grid'
;
}
.left-grid,.right-grid{
    width: 100%;
    margin-left:0;
}


/*****************Footer***********************/
.social-icons li{
    padding: 0px 10px 0px 10px;
}
.footer-menu{
    width: 21%;
}
.footer-menu1{
    margin-left: 140px;
}
footer .footer-meter li{
    padding: 10px 0px 2px 10px;
}
footer .footer-meter{
  margin-left: 25px;
}
footer .social-icons{
  padding-left: 15px;
}
  /*************
  /* .search-li{
        z-index: -1;
        position: fixed;
        //top:57px;
        display: none;
        right: 0;
        width:100%;
        background: @back-white;
    }
    .search-li.show{
        top: 300px;
        display: inline-block;
    }
    .search-bar{
        width:52%;
        margin: 0 auto;
    }
    .search-bar .search-select{
        width:20%;
    } 
    .search-bar .search-input{
        width:80%;
    } */
}
